#bread {
    background: white;
    border: 1px solid gray;
    border-radius: 0;
    margin: 0 auto;
    padding: 4px 8px;
    position: sticky;
    top:41px;
    z-index:2;
    }
#container {
    margin:0 auto;
    width:90%;
    }
h1 {
    display:inline-block;
    font-size:medium;
    margin:0;
    text-align: center;
    }
.informative {
    color: #43808e;
    background: #a6eaf970;
    border: 1px solid #8ab8c3;
}
.message {
    max-width: 440px;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
}

.warning {
    color:#ad8722;
    border:1px solid #f5bd00;
    background-color: #ffff0037;
}
