/* CSS JULY 2020 */

body {
    background: white;
    color: gray;
    padding: 0;
    margin: 60px 0 0 0;
    text-align: right;
    }

a:link, a:visited {
    color: gray;
    text-decoration: none;
}

#topNav {
    position: fixed;
    top: 0;
    height: 40px;
    background: white;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
    }

#topNav{
    display: flex;
    align-items: center;
    }

#topNav > div {
    display: inline-block;
    margin-right: 5px;
    }

#menu {
    margin-right: 15px;
    }

.material-icons {
    background: white;
    color: gray;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    }

#searchInput {
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
    }

#searchInput input {
    outline: none;
    width: calc(100% - 110px);
    font-size: large;
    border: 0;
    padding: 8px 15px 0 0;
    letter-spacing: 0.1em;
    }

#searchInput input:focus {
    outline: none;
}

#searchInput button {
    border: 0;
    font-size: large;
    padding: 8px;
    }

#searchInput button {
        float: left;
        width: 90px;
    }

#searchInput button:focus {
    outline: none;
    background:yellow;
}

#logo {
    background-image: url('../img/site/logo_small.png');
    background-size: cover;
    border-radius: 10%;
}

#mainMenu, #myMenu {
    display: none;
}
#mainMenu ul, #myMenu ul {
    list-style:none;
    margin:0;
    padding:10px 20px;
}

#menus {
    Z-INDEX:9;
    width:200px;
    position:fixed;
    right:30px;
    top:60px;
    line-height:1.4;
}
#menusBG {
    display:none;
    Z-INDEX:5;
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:100vw;
    background:#5a7a9ab8;
    }