<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="404" />
      <error statusCode="404" path="G:\PleskVhosts\milon.madrasafree.com\error_docs\not_found.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
    <security>
      <requestFiltering>
        <!-- Block developer-only directories -->
        <hiddenSegments>
          <add segment="docs" />
          <add segment="tools" />
          <add segment=".git" />
        </hiddenSegments>
        <!-- Block developer-only file types -->
        <fileExtensions>
          <add fileExtension=".md"    allowed="false" />
          <add fileExtension=".py"    allowed="false" />
          <add fileExtension=".ini"   allowed="false" />
          <add fileExtension=".prod"  allowed="false" />
          <add fileExtension=".local" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="G:\PleskVhosts\milon.madrasafree.com\tmp" />
  </system.web>
</configuration>
