<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="docs" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="G:\PleskVhosts\milon.madrasafree.com\tmp" />
  </system.web>
</configuration>
