<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" tempDirectory="G:\PleskVhosts\dict.madrasafree.com\tmp" />
  </system.web>
</configuration>